@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Barlow', sans-serif;
*/

/* ====================================================== */
/* ======================= GLOBAL ======================= */
/* ====================================================== */

* {
    padding: 0;
    margin: 0;

}

html {
    background-color: var(--background-branco-inter);

    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Barlow', sans-serif;

    height: auto;

    overflow: hidden;
    overflow-y: scroll;

}

/*::-webkit-scrollbar {
    display: none;

}*/

:root {
    --background-header-top: #f1f1f1;
    --background-branco-inter: #FAFCFE;
    --background-preto-inter: #000000;
    --background-verde-agua: #17d9db;
    --background-comentarios: #227C9D;
    --background-verde-agua-escuro: #1ec2c5;

    --azul-inter: #001EA3;
    --preto-inter: #000000;
    --branco-inter: #FAFCFE;

    --icon-whatsapp: #25D366;

    --color-preto-chumbo: #34333a;
    --color-verde-agua: #17d9db;
    --color-gray: #c3c3c3;

    --azul-inter-overlay: #001EA380;

    --botton-acordeon: #eeeeee;

    /* ANTIGO */

    --text-white: #ffffff;
    --text-black: #000000;
    --text-purple: #38095c;
    --text-purple-tranparent: #38095c9a;
    --text-gray: #919496;
    --text-gray2: #4e5461;
    --text-gray3: #a6a8af;
    --text-light-gray: #e0e0e0;
    --text-light-gray2: #d4d4d4;
    --text-light-gray3: #dfe4ee;
    --text-light-gray4: #ffffff;
    --text-blue-light: #07a4dc;
    --text-blue: #166386;
    --text-green: #0d9d10;
    --text-light-green: #1aa21d;
    --text-light-orange: #ff881a;
    --text-orange: #ff5d01;
    --text-light-orange-plus: #e07644;
    --text-orange-plus: #a42903;
    --text-light-blue-cart: #4480c1;
    --text-blue-cart: #032a63;
    --text-light-white: #fdfdfd;
    --text-dark-white: #dddddd;
    --text-yellow: #ecebb0;
    
    --alert-gren: #99cc333a;
    --alert-text-gren: #339900;
    --alert-red: #d453283a;
    --alert-text-red: #a32a02;

    --box-shadown: #262626;
    --box-smooth-shadown: #2626269a;

    --mandatory-red: #ad3737;
    --mandatory-input: #de1616;
    --mandatory-input-ok: #44cc3d;

}

/* CONTAINER */
.container {
    width: 100%;
    height: auto;

    padding: 0 !important;
    margin: 0 !important;

}

/* ====================================================== */
/* ======================= HEADER ======================= */
/* ====================================================== */

.container header {
    width: 100%;
    height: auto;

}

.container header .header-top {
    padding: 1%;

    width: 98%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;

    background-color: #7daec7;

}

.container header .header-top .informacao {
    width: 50%;
    height: auto;

    /*background-color: blueviolet;*/

    display: flex;
    align-items: center;
    justify-content: center;

}

.container header .header-top .informacao .icon {
    width: 2%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1%;

}

.container header .header-top .informacao .icon svg {
    width: 100%;
    height: auto;

}

.container header .header-top .informacao .texto {
    width: 45%;

}

.container header .header-top .informacao .texto p {
    font-size: 15px;

    font-weight: 500;

}

.container header .header-top .informacao .texto p strong {
    margin-left: 1%;

}

.container header .header-top .contatos {
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /*background-color: burlywood;*/

}

.container header .header-top .contatos .bloco {
    background-color: #1bd15d !important;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1%;

    width: 25%;
    height: auto;

    border-radius: 50px;

}

.container header .header-top .contatos .bloco .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: auto;

}

.container header .header-top .contatos .bloco .icon svg {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    color: var(--branco-inter);

}

.container header .header-top .contatos .bloco p {
    font-size: 15px;
    font-weight: 500;

    color: var(--branco-inter);

}

.container header .header-menu {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;

}

.container header .header-menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: auto;

    /*background-color: beige;*/

}

.container header .header-menu .logo img {
    width: 30%;
    height: auto;

}

.container header .header-menu .logo-celular {
    display: none;
}

/*.container header .header-menu .home-celular {
    display: block;

}*/

.container header .header-menu .menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: auto;

    /*background-color: aquamarine;*/

}

.container header .header-menu .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;

    width: 100%;
    height: auto;

}

.container header .header-menu .menu ul a {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 20px;

    font-weight: 600;

    color: var(--color-preto-chumbo);

    border-radius: 50%;

    transition: background-color, color, border-radius, .3s ease-in-out;
}

.container header .header-menu .menu ul a:hover {
    background-color: var(--color-verde-agua);

    color: var(--branco-inter);

    border-radius: 5px;
    
}

/* HEADER | MENU */
.topnav {
    overflow: hidden;
    background-color: var(--branco-inter);

    margin-right: 10%;

    width: 40%;
    height: auto;

}

.topnav a {
    text-decoration: none;
    float: left;
    display: block;
    color: var(--color-preto-chumbo);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50%;
    transition: background-color, color, border-radius, .3s ease-in-out;
}

.topnav a:hover {
    background-color: var(--color-verde-agua);

    color: var(--branco-inter);

    border-radius: 5px;

}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .dropdown {
        display: none;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .dropdown {
        display: none;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* MENU DROPDOWN */
li {
    float: left;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

li .dropbtn {
    display: inline-block;
    color: var(--color-preto-chumbo);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;

}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;

    position: absolute;

    background-color: var(--branco-inter);

    width: auto;

    box-shadow: 0px 3px 5px -3px var(--color-preto-chumbo);

    z-index: 1;

}

.dropdown-content a {
    display: block;

    color: var(--color-preto-chumbo);
    
    padding: 2% 3%;

    margin-top: 1%;
    margin-bottom: 1%;

    text-decoration: none;
    text-decoration: none;
    text-align: center;

    font-size: 16px;
    font-weight: 500;

    border-radius: 0%;

    transition: background-color, color, .3s ease-in-out;

    width: 94%;
    height: auto;

    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--color-verde-agua);

    color: var(--branco-inter);

    border-radius: 0%;

}

.dropdown:hover .dropdown-content {
    display: block;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.topnav .redimencionado {
    display: none !important;

}

/* ====================================================== */
/* ======================== HOME ======================== */
/* ====================================================== */

/* CARROCEL */
section .banner {
    width: 100%;
    height: auto;

    background-color: #B0E0E6;

}

section .banner-celular {
    display: none;

}

section .banner img {
    width: 100%;
    height: auto;

}

/* ======================================== */

/* SOBRE A TECNICA */
.container section .sobre-tecnica {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    padding: 5% 0% 5% 5%;

    width: 100%;
    height: auto;

    background-color: #b0e0e6;

}

.container section .sobre-tecnica .bloco {
    padding: 3% 2%;

    width: 30%;
    height: 45vh;

    background-color: var(--color-preto-chumbo);

    color: var(--branco-inter);

    text-transform: uppercase;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.container section .sobre-tecnica .bloco h2 {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-weight: 600;

    margin-top: 12%;
    margin-bottom: 14%; 

}

.container section .sobre-tecnica .bloco h2 p {
    margin-left: 3%;

    color: var(--color-verde-agua);

}

.container section .sobre-tecnica .bloco h3 {
    font-size: 24px;
    font-weight: 300;

}

.container section .sobre-tecnica .bloco h4 {
    font-size: 24px;
    font-weight: 300;

    color: var(--color-verde-agua);

}

.container section .sobre-tecnica .bloco h5 {
    font-size: 15px;
    font-weight: 500;

    padding-bottom: 1%;
    margin-top: 20%;

    border-bottom: 1px solid var(--color-verde-agua);

}

.container section .sobre-tecnica .img {
    width: 60%;
    height: 60vh;

    margin-left: 5%;

    background-image: url(../img/sobre_tecnica.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;

}

/* SERVICOS */
.container section {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.container section .servicos {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2%;

    width: 86%;
    height: auto;

    flex-wrap: wrap;

}

.container section .servicos .quadro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 1%;

    width: 31.3333%;
    height: auto;

}

.container section .servicos .quadro .img {
    width: 100%;
    height: auto;

}

.container section .servicos .quadro .img img {
    width: 100%;
    height: auto;

}

.container section .servicos .quadro .texto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    margin-top: 5%;

    width: 100%;
    height: auto;

    text-transform: uppercase;

}

.container section .servicos .quadro .texto p {
    color: #193d46;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;

    margin-bottom: 3%;

}

.container section .servicos .quadro .texto p strong {
    color: var(--color-preto-chumbo);

    font-weight: 600;

}

.container section .servicos .quadro .texto h2 {
    color: #969696;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

}
/* ======================================== */

/* ENDERECO */
.container section .endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    width: 100%;
    height: auto;

    flex-wrap: wrap;

}

.container section .endereco .local {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    margin: 10% 0% 10% 10%;

    width: 35%;
    height: auto;

    color: var(--color-preto-chumbo);
    
}

.container section .endereco .local h2 {
    font-size: 30px;
    font-weight: 300;

}

.container section .endereco .local strong {
    font-size: 48px;
    font-weight: 700;

    text-transform: uppercase;

    color: var(--color-verde-agua);

}

.container section .endereco .local p {
    font-size: 18px;
    font-weight: 300;

    margin-top: 2.5%;
    margin-bottom: 2.5%;

}

.container section .endereco .local h3 {
    font-size: 30px;
    font-weight: 300;

}

.container section .endereco .local a {
    font-size: 18px;
    font-weight: 300;

    margin-top: 5%;

    text-decoration: none;

    background-color: var(--background-verde-agua);

    border-radius: 5px;

    padding: 2%;

    color: var(--branco-inter);

}

.container section .endereco .carrocel-endereco {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-right: -5%;

}

.container section .endereco .carrocel-endereco .img {
    box-shadow: 0px 0px 0px 0px var(--color-preto-chumbo);

}

.container section .endereco .carrocel-endereco .img img {
    width: 100%;
    height: auto;

    box-shadow: 0px 3px 5px -3px var(--color-preto-chumbo);

}

.container section .endereco .carrocel-endereco .mapa {
    margin-top: -10%;
    margin-left: -100%;

    width: 50%;
    height: auto;

}

.container section .endereco .carrocel-endereco .mapa iframe {
    box-shadow: 0px 3px 40px -20px var(--color-preto-chumbo);

}
/* ======================================== */

/* COMENTARIOS */
.container section .comentarios {
    width: 100%;
    height: auto;

    margin-bottom: 5%;

}

.container section .comentarios h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Vollkorn', serif;

    color: var(--color-preto-chumbo);

    padding: 2%;

    text-align: center;

}

/* Slideshow container */
.container section .comentarios .slideshow-container {
    position: relative;
    background: var(--background-verde-agua-escuro);

    padding: 5% 0% 5% 0%;
}

/* Slides */
.container section .comentarios .slideshow-container .postagens {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.container section .comentarios .slideshow-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--branco-inter);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.container section .comentarios .slideshow-container .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.container section .comentarios .slideshow-container .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
.container section .comentarios .slideshow-container .postagens q {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;

    color: var(--preto-inter);

}

/* Add a blue color to the author */
.container section .comentarios .slideshow-container .postagens .autor {
    font-size: 20px;
    font-weight: 500;

    color: var(--preto-inter);

    margin-top: 1%;

}

.container section .comentarios .slideshow-container .postagens .autor strong {
    font-size: 20px;
    font-weight: 500;

    color: var(--preto-inter);

    margin-left: 1%;

}

/* ======================================== */

/* ACORDEON */
.container section .acordeon {
    margin-bottom: 5%;

    width: 50%;
    height: auto;

}

.container section .acordeon h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Vollkorn', serif;

    color: var(--color-preto-chumbo);

    padding: 2%;

    text-align: center;

}

.container section .acordeon .accordion {
    background-color: var(--botton-acordeon);
    color: var(--color-preto-chumbo);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

    margin: 0.5%;
}
  
.container section .acordeon .active, .accordion:hover {
    background-color:var(--background-verde-agua); 
}
  
.container section .acordeon .panel {
    padding: 0 18px;
    display: none;
    background-color: var(--background-branco-inter);
    overflow: hidden;

}
/* ======================================== */

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
}

/* The Close Button */
.fecharModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fecharModal:hover,
.fecharModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-content .campos {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

}

.modal .modal-content .campos .form {
    width: 100%;
    height: auto;

}

.modal .modal-content .campos .form .container {
    width: 100%;
    height: auto;

}

.modal .modal-content .campos .form .container .input {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modal .modal-content .campos .form .container .input label {
    width: 15%;
    height: auto;

    font-size: 16px;
    font-weight: 700;

    color: var(--color-preto-chumbo);

}

.modal .modal-content .campos .form .container .input input {
    padding: 1%;

    width: 83%;
    height: auto;

    outline: none;

    border: none;

    font-size: 16px;
    font-weight: 500;

    box-shadow: 0px 0px 0px 0px var(--box-shadown);

    color: var(--color-preto-chumbo);

    transition: box-shadow, .3s ease-in-out;

}

.modal .modal-content .campos .form .container .input input:focus {
    box-shadow: 0px 3px 5px -4px var(--box-shadown);

}

.modal .modal-content .campos .form .container .botoes {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.modal .modal-content .campos .form .container .botoes button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 5px;

    padding: 2%;

    background-color: var(--background-verde-agua);

}

.modal .modal-content .campos .form .container .botoes button p {
    font-size: 16px;
    font-weight: 700;

    color: var(--color-preto-chumbo);

}

.modal .modal-content .campos .logo {
    padding: 5% 15% 5% 15%;

    width: 70%;
    height: auto;

}

.modal .modal-content .campos .logo img {
    width: 100%;
    height: auto;

}

/* ======================================== */

/* ====================================================== */
/* ======================= FOOTER ======================= */
/* ====================================================== */

.container footer {
    width: 100%;
    height: auto;

    background-color: #d3dadd;

}

.container footer .footer-conteudo {
    padding-top: 2%;
    padding-bottom: 2%;

    width: 100%;
    height: auto;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    flex-wrap: wrap;

}

.container footer .footer-conteudo .logo {
    width: 25%;
    height: auto;

}

.container footer .footer-conteudo .logo img {
    padding: 0 10% 10% 10%;

    width: 80%;
    height: auto;

}

.container footer .footer-conteudo .menu {
    width: 25%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.container footer .footer-conteudo .menu ul {
    list-style: none;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.container footer .footer-conteudo .menu ul .contatos {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    margin-top: 5%;

}

.container footer .footer-conteudo .menu ul .contatos .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: auto;

}

.container footer .footer-conteudo .menu ul .contatos .icon svg {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    color: var(--icon-whatsapp);

}

.container footer .footer-conteudo .menu ul .endereco {
    width: 70%;
    height: auto;

    line-height: 1.5;

    margin-top: 2.5%;

}

.container footer .footer-conteudo .menu ul .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 46%;
    height: auto;

    margin-top: 2.5%;

}

.container footer .footer-conteudo .menu ul .social .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3%;

    padding: 5%;

    width: 84%;
    height: auto;

    background-color: var(--color-verde-agua);

    color: var(--preto-inter);

    border-radius: 50%;

    text-decoration: none;

    transition: color, .3s ease-in-out;

}

.container footer .footer-conteudo .menu ul .social .icon:hover {
    color: var(--branco-inter);

}

.container footer .footer-conteudo .menu ul .social .icon svg {
    padding: 10%;

    width: 80%;
    height: auto;

}

.container footer .copyright {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-verde-agua);

}

.container footer .copyright p b a {
    text-decoration: none;

    color: var(--preto-inter);

}

/* ============================ */

/* BOTAO - WHATSAPP */
.botao-whatsapp {
    padding: 2%;

    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;

    width: 15%;
    height: auto;

    bottom: 0;
    right: 0;

    /*background-color: #001EA3;*/

    text-decoration: none;

    cursor: default;

}

.botao-whatsapp .dados-whatsapp {
    width: 90%;
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--icon-whatsapp);

    padding: 5%;

    border-radius: 50px;

    box-shadow: 0px 3px 5px -3px var(--color-preto-chumbo);

    cursor: pointer;
}

.botao-whatsapp .dados-whatsapp p {
    font-size: 20px;
    font-weight: 600;

    color: var(--text-white);

    margin-left: 5%;

}

.botao-whatsapp .dados-whatsapp .icon {
    width: 50px;
    height: 50px;

    /*border-radius: 50px;

    background-color: var(--icon-whatsapp);

    box-shadow: 0px 3px 5px -3px var(--color-preto-chumbo);*/

    display: flex;
    align-items: center;
    justify-content: center;

}

.botao-whatsapp .dados-whatsapp .icon svg {
    width: 80%;
    height: auto;

    color: var(--branco-inter);

    cursor: pointer;

}

.botao-whatsapp .avaliacao-gratuita {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: fixed;

    width: 15%;
    height: auto;

    bottom: 0;

    margin-bottom: 6%;

    text-decoration: none;

    cursor: default;

}

.botao-whatsapp .avaliacao-gratuita p {
    font-size: 20px;
    font-weight: 600;

    color: var(--branco-inter);

    padding: 5%;

    background-color: var(--icon-whatsapp);

    border-radius: 5px;

}

.botao-whatsapp .avaliacao-gratuita .triangulo {
    width: 0; 
    height: 0; 

    margin-left: 15vh;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid var(--icon-whatsapp);

}

/* ========================================================== */
/* ======================== SERVICOS ======================== */
/* ========================================================== */
.container section .pagina-servicos {
    width: 100%;
    height: auto;

}

.container section .pagina-servicos .banner-servicos {
    background-image: url(../img/banner_servicos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.container section .pagina-servicos .banner-servicos p {
    padding: 3% 0% 3% 10%;

    font-size: 40px;
    font-weight: 700;

    color: var(--branco-inter);

}

.container section .pagina-servicos .tipo-servico {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 2%;
    padding-bottom: 2%;

    width: 96%;
    height: auto;

}

.container section .pagina-servicos .tipo-servico .img {
    margin-right: 1%;
    width: 25%;
    height: auto;

}

.container section .pagina-servicos .tipo-servico .img img {
    width: 100%;
    height: auto;

}

.container section .pagina-servicos .tipo-servico .texto {
    padding: 0% 4%;

    width: 42%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.container section .pagina-servicos .tipo-servico .texto h1 {
    font-size: 35px;
    font-weight: 700;

    color: var(--color-preto-chumbo);

    margin-bottom: 5%;

}

.container section .pagina-servicos .tipo-servico .texto p {
    font-size: 18px;
    font-weight: 400;

    color: #1d1e1c;

    margin-bottom: 1%;

}

.container section .pagina-servicos .tipo-servico .texto-clinica {
    padding: 0% 4%;

    width: 80%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.container section .pagina-servicos .tipo-servico .texto-clinica h1 {
    font-size: 35px;
    font-weight: 800;

    color: var(--color-preto-chumbo);

    margin-bottom: 1%;

}

.container section .pagina-servicos .tipo-servico .texto-clinica p {
    font-size: 18px;
    font-weight: 400;

    color: #1d1e1c;

    margin-bottom: 1%;

}

.container section .pagina-servicos .tipo-servico .texto-clinica .frase {
    font-size: 18px;
    font-weight: 500;

    color: #1d1e1c;

    margin-bottom: 1%;

}

.container section .pagina-servicos .tipo-servico .texto ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.container section .pagina-servicos .tipo-servico .texto ul li {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;
    
}

.container section .pagina-servicos .tipo-servico .texto ul li .icon {
    width: 2%;
    height: auto;

}

.container section .pagina-servicos .tipo-servico .texto ul li .icon svg {
    padding: 25%;

    width: 50%;
    height: auto;

}

.container section .pagina-servicos .tipo-servico .texto ul li p {
    width: 98%;
    height: auto;

}

/* ============================================================ */
/* ======================== FORMULARIO ======================== */
/* ============================================================ */
.container section .telaCadastro {
    padding: 0% 5% 5% 5%;
    padding-bottom: 2.5%;

    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-preto-chumbo);

}

.container section .telaCadastro h2 {
    color: var(--branco-inter);

    font-size: 30px;
    font-weight: 400;

    margin-top: 6%;

}

.container section .telaCadastro .form {
    width: 50%;
    height: auto;

}

.container section .telaCadastro .form h1 {
    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 30px;
    font-weight: 700;

    color: var(--text-blue-cart);

}

/*DECORACAO FORMULARIO*/

.container section .telaCadastro .form .container-form {
    padding: 5%;
    padding-top: 0%;

    width: 90%;
    height: auto;

}

/*MENSAGEM ALERTA*/

#alertaSucesso {
    padding: 4%;
    margin: 4%;

    width: 84%;
    height: auto;

    background-color: var(--alert-gren);

    border-radius: 15px;
    border: 1px solid var(--alert-text-gren);

    box-shadow: 0px 3px 5px -5px var(--box-shadown);

}

#alertaSucesso p {
    font-size: 12px;
    font-weight: 700;

    color: var(--alert-text-gren);

}

#alertaErro {
    padding: 4%;
    margin: 4%;

    width: 84%;
    height: auto;

    background-color: var(--alert-red);

    border-radius: 15px;
    border: 1px solid var(--alert-text-red);

    box-shadow: 0px 3px 5px -5px var(--box-shadown);

}

#alertaErro p {
    font-size: 12px;
    font-weight: 700;

    color: var(--alert-text-red);

}

/*FORMULARIO - NOME*/

.container section .telaCadastro .form .container-form .nome {
    padding: 2%;
    width: 96%;
    height: auto;

    /*background-color: darkblue;*/

}

.container section .telaCadastro .form .container-form .nome label {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-blue-cart);

    padding: 1%;
    width: 98%;
    height: auto;

    display: none;

}

.container section .telaCadastro .form .container-form .nome label b {
    color: var(--mandatory-red);

    font-size: 16px;
    font-weight: 400;

    display: none;

}

.container section .telaCadastro .form .container-form .nome input {
    padding: 2%;
    width: 96%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 100;
    color: var(--text-black);

    box-shadow: 0px 3px 5px -5px var(--box-shadown);

    transition: background-color, .5s;

    border-radius: 0px;

}

.container section .telaCadastro .form .container-form .nome textarea {
    padding: 2%;
    width: 96%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 100;
    color: var(--text-black);

    box-shadow: 0px 3px 5px -5px var(--box-shadown);

    transition: background-color, .5s;

    border-radius: 0px;

}

/* BOTOES */

.container section .telaCadastro .form .container-form .botoes {
    padding: 1%;
    margin-left: 2%;

    width: 28%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-radius: 50px;

    background-color: var(--color-verde-agua);

    box-shadow: 0px 3px 5px -5px var(--box-shadown);

}

.container section .telaCadastro .form .container-form .botoes .avancar {
    padding-left: 2%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.container section .telaCadastro .form .container-form .botoes .avancar button {
    width: 100%;
    height: auto;
    
    border-radius: 50px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: transparent;

}

.container section .telaCadastro .form .container-form .botoes .avancar button p {
    font-size: 20px !important;
    font-weight: 100 !important;

}

.container section .telaCadastro .form .container-form .botoes .avancar button .icon {
    padding: 3%;

    width: 12%;
    height: auto;

    /*background-color: var(--color-preto-chumbo);*/

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px 0px 0px 0px;

}

.container section .telaCadastro .form .container-form .botoes .avancar button .icon svg {
    width: 100%;
    height: auto;

    color: var(--text-white);

}

.container section .telaCadastro .form .container-form .botoes .avancar button p {
    padding: 3%;

    width: 82%;
    height: auto;

    font-size: 16px;
    font-weight: 600;

    color: var(--text-white);

    text-transform: uppercase;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0px 10px 10px 0px;

}

.container section .telaCadastro .form .container-form .botoes .login {
    padding: 2%;

    width: 96%;
    height: auto;

    text-align: right;

}

.container section .telaCadastro .form .container-form .botoes .login a {
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    color: var(--text-black);

}

/* TABELA USUARIOS */
.container .tabela-usuarios {
    width: 60%;
    height: auto;

}

.container .tabela-usuarios tr {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    padding: 2% 0%;

    color: var(--color-preto-chumbo);

}

.container .tabela-usuarios tr th {
    font-size: 20px;
    font-weight: 600;

}

.container .tabela-usuarios tr td strong {
    font-size: 20px !important; 
    font-weight: 700;

}

.container .tabela-usuarios tr td {
    font-size: 18px;
    font-weight: 400;

}

.container .tabela-usuarios tr td hr {
    width: 150px;
    height: auto;

    border-top: 0px solid var(--background-preto-inter);
    border-left: 0px solid var(--background-preto-inter);
    border-right: 0px solid var(--background-preto-inter);
    border-bottom: 3px solid var(--background-verde-agua);

    margin-top: 10%;

    text-align: center;

}